@model IEnumerable<WebAppASPCoreMVCRequests.Models.User>

@{
    ViewData["Title"] = "GetSortedUsers";
}

<h2>Sorted Users</h2>

<div class="container data sorted-users">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th>User</th>
                <th>ID</th>
                <th>Name</th>
                <th>Avatar</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Posts</th>
                <th>Todos</th>
            </tr>
        </thead>
        
        @foreach (var u in Model)
        {
        <tr>
            <td><i class="far fa-user"></i></td>
            <td>@u.Id </td>
            <td>@u.Name </td>
            <td>@u.Avatar </td>
            <td>@u.Email </td>
            <td>@DateTime.Parse(u.CreatedAt).ToUniversalTime() </td>
            <td>@u.Posts.Count()</td>
            <td>Todo</td>
        </tr>
        }
    </table>
</div>
