@model IEnumerable<(Post Post,User User)>

@{
    ViewData["Title"] = "Posts";
}

<h2>Posts</h2>

<div class="container data posts ">
    @foreach (var t in Model)
    {
        <div class="post center-block">
            <div class="head_post">
                <div class="avatar">
                    <img class="avatar" src="@t.User.Avatar" alt="Alternate Text" />
                </div>
                <div class="my_title">
                    @t.Post.Title <br /> 
                    <span class="name">@t.User.Name</span>
                </div>
            </div>
            <div class="body_post">
                @t.Post.Body
            </div>
            <div class="footer_post">
               Comments: Likes: @t.Post.Likes Data: @DateTime.Parse(t.Post.CreatedAt).ToShortDateString()
            </div>
        </div>
    }

</div>