@model User

@{
    ViewData["Title"] = "UserInfo";
}

<h2>UserInfo</h2>

<div class="container data">
    <table class="table table-bordered text-center">
        <thead class="thead-dark">
            <tr>
                <th class="">ID</th>
                <th class="">Name</th>
                <th class="">Avatar</th>
                <th class="">Email</th>
                <th class="">Created At</th>
                <th class="">Posts</th>
                <th class="">Todos</th>
            </tr>
        </thead>
            <tr>
                <td>@Model.Id </td>
                <td>@Model.Name </td>
                <td>@Model.Avatar </td>
                <td>@Model.Email </td>
                <td>@Model.CreatedAt </td>
                <td>Post</td>
                <td>Todo</td>
    </table>
</div>
